<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/aboutus.css">
</head>

<body>

    <%- include('partials/navbar') %>


        <div class="about">
            <div class="profilepic">
                <img src="/img/aa.jpg" alt="Sandip" class="about-img">

            </div>
            <div class="profileDetails">
                <p class="para">
                    Hello everyone My self Sandip Thakur I am a software <br>
                    developer or a full stack developer who have done B.Tech <br>
                    in Informartion Technology I have a preety much good knowledge <br> of web technologies and how they
                    work and how to build one. CSS, HTML5 <br> and ReactJs I used to developed frontend and on the
                    other hand NodeJs, <br> ExpressJs for backend and at last mongoDB and SQL for database <br>

                </p>

            </div>

        </div>
</body>

</html>