<link rel="stylesheet" href="/css/nav.css">


<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
        <div class="nav-title">
            WorldNews
        </div>
    </div>
    <div class="nav-btn">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>

    <div class="nav-links">
        <a href="/" target="_blank">HOME</a>
        <a href="/news" target="_blank">NEAWS</a>
        <a href="/about" target="_blank">ABOUT</a>
        <a href="#">
            <form method="POST" action="/search">
                <input type="text" placeholder="Search news" class="search-bar" name="search">

            </form>

        </a>


    </div>
</div>