<header>
    <nav class="nav">
        <a href="/" class="logo">WorldNews</a>

        <div class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>

        <div class="nav__link hide">
            <ul class="ul-list">
                <li><a class="active" href="/">home</a></li>
                <li><a href="/news">news</a></li>
                <li><a href="/about">about</a></li>
                <li>
                    <form method="POST" action="/search">
                        <input type="text" placeholder="Search news" class="search-bar" name="search">

                    </form>
                </li>

            </ul>

        </div>
    </nav>
</header>